* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: poppins;
}

@font-face {
  font-family: poppins;
  src: url(../Poppins/Poppins-Regular.ttf);
}
body {
  background: #1F2E35;
}

.container {
  width: 85%;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #1F2E35;
}
header .navbar {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 25px;
  justify-content: space-between;
}
header .navbar .navbar__img {
  width: 150px;
  height: 60px;
}
header .navbar .navbar__right {
  display: flex;
  gap: 25px;
  align-items: center;
}
header .navbar .navbar__right .navbar__links {
  display: flex;
  gap: 30px;
}
header .navbar .navbar__right .navbar___link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
}
header .navbar .navbar__right .navbar___link:hover {
  color: #03bfa9;
}
header .navbar .navbar__right .nabar__menu {
  display: none;
}
header .navbar .navbar__btns {
  display: flex;
  gap: 25px;
  align-items: center;
}
header .navbar .navbar__btns .navbar__btn {
  width: 102px;
  height: 43px;
  border: 1px solid #BCD0E5;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  transition: 0.3s ease-out;
  cursor: pointer;
}
header .navbar .navbar__btns .navbar__btn:hover {
  background-color: #02897A;
}

@media (max-width: 1200px) {
  .navbar .navbar__right .navbar__links .navbar___link {
    display: none;
  }
  .navbar .nabar__menu {
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar .navbar__btns .navbar__btn {
    display: none;
  }
}
@media (max-width: 576px) {
  .navbar .navbar__btns .navbar__btns__img {
    display: none;
  }
}
.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.clients .clients__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}
.clients .clients__logos {
  display: flex;
  gap: 64px;
  padding-top: 50px;
}

.product {
  padding-top: 30px;
  background-color: #22343D;
  width: 100%;
  margin-top: 100px;
}
.product .product__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.product .product__cover .product__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 60px;
  color: #fff;
}
.product .product__cover .product__cards {
  display: flex;
  gap: 30px;
  padding-top: 50px;
}
.product .product__cover .product__card {
  width: 350px;
  height: 305px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 16px;
}
.product .product__cover .product__card__img {
  width: 51px;
  height: 50px;
}
.product .product__cover .product__card__h {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #fff;
}
.product .product__cover .product__card__p {
  width: 275px;
  height: 108px;
  text-align: center;
  color: #fff;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.work .work__h {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #fff;
}
.work .product__items {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 73px;
}
.work .product__items .product__item {
  display: flex;
  align-items: center;
}
.work .product__items .product__item__img {
  width: 500px;
  height: 279px;
}
.work .product__items .product__item__info {
  width: 438px;
  height: 210px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
}
.work .product__items .product__order {
  order: 2;
}