.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    .clients__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: $textColor;
    }
    .clients__logos {
        display: flex;
        gap: 64px;
        padding-top: 50px;  
    }
}